// Style for list tabs component
.list-tabs {
  margin-bottom: 50px;
  text-align: center;

  li {
    margin-left: 20px;
    margin-right: 20px;
  }

  span {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #111;
    line-height: 28px;

    &:hover, &.active {
      color: #49bbcf;
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-color: #4dc7dd;
    }
  }
}

// Styles for block Article
.block-article {
  background-color: #fff;
  padding: 80px;

  .row {
    margin-right: -40px;
    margin-left: -40px;

    .col-lg-6 {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .article-img {
    width: 100%;
    height: auto;
  }

  .article-title {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700;
    color: #111;
  }

  .article-text {
    margin-bottom: 40px;
    p {
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 500;
      color: #444;
      line-height: 32px;
    }
  }

  .btn-readmore {
    display: inline-block;
    cursor: pointer;
    padding: 17px 45px;
    background-color: #4dc7dd;
    border-radius: 5px;
    border: 1px solid #4dc7dd;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

    &:hover {
      border-color: #09858a;
    }
  }
}

// Styles for responsive
@include media-breakpoint-down(md) {
  .block-article {
    padding: 30px;

    .row {
      margin-right: -30px;
      margin-left: -30px;

      .col-lg-6 {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .list-tabs {
    span {
      width: 260px;
      padding: 10px 0;
    }
  }
  .article-img {
    margin-bottom: 30px;
  }
}
